<div class="reset-password-page">

    <div class="reset-card">

        <h1>Créer un nouveau mot de passe</h1>

        <p>
            Saisissez votre nouveau mot de passe pour accéder à la plateforme El Emar.
        </p>

        <div *ngIf="pageError" class="alert error">
            {{ pageError }}
        </div>

        <div *ngIf="successMessage" class="alert success">
            {{ successMessage }}
        </div>

        <div class="form-field">
            <label>Nouveau mot de passe</label>
            <input type="password" [(ngModel)]="newPassword" placeholder="Minimum 6 caractères">
        </div>

        <div class="form-field">
            <label>Confirmer le mot de passe</label>
            <input type="password" [(ngModel)]="confirmPassword" placeholder="Confirmer le mot de passe">
        </div>

        <button type="button" class="submit-btn" (click)="submitResetPassword()" [disabled]="loading">
      {{ loading ? 'Modification...' : 'Enregistrer le nouveau mot de passe' }}
    </button>

    </div>

</div>